@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";




@theme {
  --color-primary: #20B2AA;
  --color-primary-dull: #00868B
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: white;
  background-color: #09090B;
}

.no-scrollbar {
  scrollbar-width: none;
}

/* --- REACT SELECT OVERRIDE (Tailwind v4) --- */
.react-select-container .react-select__control {
  background: #111 !important;
  color: white !important;
  border: 1px solid #444 !important;
  border-radius: 4px !important;
  padding: 4px !important;
  min-height: 44px !important;
}

.react-select-container .react-select__control--is-focused {
  border-color: none !important;
  outline: none !important;
}

.react-select-container .react-select__placeholder {
  color: #aaa !important;
}

.react-select-container .react-select__single-value {
  color: white !important;
}

.react-select-container .react-select__menu {
  background: #111 !important;
  color: white !important;
  border: 1px solid #444 !important;
}

.react-select-container .react-select__option {
  padding: 8px 12px !important;
  cursor: pointer;
}

.react-select-container .react-select__option--is-focused {
  background: #333 !important;
}

.react-select-container .react-select__option--is-selected {
  background: var(--color-primary) !important;
  color: white !important;
}

.react-select-container .react-select__multi-value {
  background: #333 !important;
  color: white !important;
  border-radius: 6px !important;
}

.react-select-container .react-select__multi-value__label {
  color: white !important;
}

.react-select-container .react-select__multi-value__remove:hover {
  background: #e02424 !important;
  color: white !important;
}

.react-select-container .react-select__input-container {
  color: white !important;
}